<div class='m-5'>
  <h1>Stupid Coaching</h1>


  <div class='qq'>
  <p><b><%= params[:question] %></b></p>
  <p>-You</p>
  </div>

  <div class='coach_answer'>
  <p><b><%= @answer %></b></p>
  <p>-Your coach</p>
  </div>

  <%= link_to 'Ask a new question', ask_path %>
</div>
